/* seletor:pseudo-classe{
    propriedade: valor;
} */

p:first-child{
    color: blue;
}

p:last-child{
    color: chartreuse;
}

p:not(.padrao){
    color: rgb(230, 247, 0);
}

p:nth-child(odd){
    color: black;
}

p:nth-child(n+2):nth-child(-n+3){
    color: black;
}

p:nth-last-child(1){
    color: rgb(199, 0, 0);
}

p:only-child{
    color: teal;
}